*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #2f2e2e;
}
.container{
    position:relative;
}


.container .logo img{
    width: 250px;
    height: 150px;
}


.container .background img{
    position: absolute;
    width: 450px;
    margin-left: 15%;
    height: 80vh;
    opacity: 0.4;
}

.container .heading{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    min-height: 65vh;
    margin-left: 100px;
}
.container .heading h1{
    padding-bottom: 60px;
    font-size: 40px;

}
.container .heading p{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
}

.container .heading button{
    width: 200px;
    height: 60px;
    background-color: rgb(216, 22, 22);
    border: 2px solid white;   
    border-radius: 30px 0 30px 0;
    cursor: pointer;
    
}

.container .image img{
    margin-left: 60%;
    width: 700px;
    height: 400px;
/* for image reflection */

-webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(93, 91, 91, 0.4));
}

.container .navbar ul{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    
}

.navbar ul li{
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
.navbar ul li:hover{
    color: rgb(10, 192, 220);
}

.container .navbar ul li{
    display: flex;
    margin: 20px;
}




.empty{
    position:fixed;
     clip-path: polygon(1000% 20%, 100% 10%, 100% 10%, 0% 100%); 
    background-color: rgb(224, 9, 9);
    width: 150%;
    height: 100%;
    top: 120px;
    right: 0;
    margin-bottom: 20px;
    z-index: -1000;
}


/* now one team is ready */

/* lets do the code for remaining teams by using javascript */

.list ol{
    display: flex;
    position: absolute;
    list-style: none;
    margin-left: 30%;
}
.list ol li{
    margin: 25px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.list ol li:hover, .container .navbar ul li:hover{
    transform: scale(1.2);
}

/* now selection color change */

::selection{
    background-color: white;
    color: black;
}


/* now coading for responsive */

@media (max-width: 1024px) {
  .container .heading {
    width: 70%;
    margin-left: 50px;
  }

  .container .image img {
    width: 500px;
    margin-left: 45%;
  }

  .container .navbar ul {
    gap: 15px;
  }
}

/* Mobile (up to 768px) */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .container .navbar ul {
    position: static;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .container .heading {
    width: 100%;
    margin: 60px 0;
    text-align: center;
    align-items: center;
  }

  .container .heading h1 {
    font-size: 2.2rem;
  }

  .container .heading p {
    font-size: 16px;
  }

  .container .heading button {
    width: 160px;
    height: 50px;
  }

  .container .image img {
    width: 90%;
    margin: 30px auto 0 auto;
    display: block;
  }

  .container .background img {
    display: none; /* hide background image on small screens */
  }

  .list ol {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

/* Small phones (up to 480px) */
@media (max-width: 480px) {
  .container .heading h1 {
    font-size: 1.8rem;
  }

  .navbar ul li {
    font-size: 16px;
  }

  .container .heading button {
    width: 140px;
    height: 45px;
  }
}

/* 
@media screen and (max-width: 900px){
    .container .heading{
        top: 120vh;
        width: 100%;
        margin: 0;
    }

    .container .image img{
        margin: 0;
        margin-top: -30px;
        width: 700px;
        height: 400px;
    }

    .container .background img{
        position: absolute;
        width: 450px;
        margin-left: 15%;
        height: 80vh;
        top: 120vh;
        z-index: -1;
        opacity: 0.4;
    }
    
    .list ol{
        display: flex;
        position: absolute;
        list-style: none;
        margin-left: 10%;

    }

    .container .navbar ul{
        display: flex;
        position: absolute;
        right: 0;
        top: 100vh;
        list-style: none;
    }
} */









